.msg-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 600px;
    height: 500px;
    overflow-y: auto;
    box-shadow: 0 0 1px black;
    background: lightcyan;
}
.msg-show {
    margin: 5px 10px;
    padding: 5px 7px;
    background: rgb(62, 88, 97);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.msg-msg {
    color: white;
}
.msg-timestamp {
    font-size: 12px;
    color: rgb(205, 205, 205);
}
.msg-fetch {
    display: flex;
    width: 100%;
}
